<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>DOCTOR LIST</title>
</head>
<link rel="stylesheet" href="{%static 'css/style.css' %}" >
<body>
<h1>Available Doctors</h1>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>

        <div class="col-4">
             <form action="">
                {%csrf_token%}
                {{form.as_p}}
           <button type="submit" class="btn btn-primary">SEARCH</button>
            </form></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table">
                <tr>
                    <td>DoctorName</td>
                    <td>Department</td>
                    <td>DoctorTime</td>
                    <td>DoctorFee</td>
                </tr>
                {%for doctor in doctors%}
                <tr>
                    <td>{{doctor.doctor_name}}</td>
                    <td>{{doctor.department}}</td>
                    <td>{{doctor.doctor_time}}</td>
                    <td>{{doctor.doctor_fee}}</td>
                    <td>
                        <a href="{%url 'doctordetail' doctor.id%}" class="btn btn-primary mb-2">View</a>
                        <a href="{%url 'changedoctor' doctor.id%}" class="btn btn-warning mb-2">Update</a>
                        <a href="{%url 'removedoctor' doctor.id%}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
               {%endfor%}

            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>
</body>
</html>