<!DOCTYPE html>
{%extends 'employer/index.html' %}
{%block body_block%}
<div class="container">
    <div class="row">
        <div class="col-4 mt-5">
            <div class="d-grid gap-2 col-6 mx-auto">
             <a href="{%url 'addcomprofile'%}" class="btn btn-lg btn-outline-danger border rounded">Add Company</a>
        </div>
            </div>
        <div class="col-4 mt-5 ">
            <div class="d-grid gap-2 col-6 mx-auto">
             <a href="{%url 'listcomprofile'%}" class="btn btn-lg btn-outline-danger border rounded">View Company</a>
        </div>
        </div>
        <div class="col-4 mt-5">

        </div>
    </div>
</div>

{%endblock%}