<!DOCTYPE html>
{%extends 'reporting/base.html' %}
{%block body_block%}
<div class="container">
     <div class="row">
        <div class="col-2"></div>
        <div class="col-8"></div>
        <div class="col-2">

        </div>
    </div>
    <div class="row mt-5">
        <div class="col-4"></div>
        <div class="col-4">
            <table  class="table">
                <tr>
                    <td class="border">Course Name</td>
                    <td class="border">   Actions</td>
                    <td class="border"><a href="{%url 'addcourse'%}"class="btn btn-outline-primary">Add</a></td>
                </tr>
                {%for course in courses%}
                <tr>
                    <td class="border">{{course.course_name}}</td>
                    <td class="border"><a href="{%url 'editcourse' course.id%}" class="btn btn-primary">Edit</a> </td>

                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-4"></div>
    </div>
      <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4"> </div>
    </div>
</div>
{%endblock%}