<!DOCTYPE html>
{%load static %}
<html lang="en">
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


<link rel="stylesheet" href="{%static 'css/style.css'%}" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Employees</h1>
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4"></div>
        <div class="col-4">
            <form action="" method="post">
                {%csrf_token%}
                {{form.as_p}}
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <table class="table">
                <tr>
                    <td>EmpName</td>
                    <td>Department</td>
                    <td>Salary</td>
                    <td>Experience</td>
                    <td colspan="3" class="text-center">Action</td>
                </tr>
                {%for employee in employees%}

                <tr>
                    <td>{{employee.emp_name}}</td>
                    <td>{{employee.department}}</td>
                    <td>{{employee.salary}}</td>
                    <td>{{employee.experience}}</td>
                    <td>
                        <a href="{%url 'employeedetail' employee.id%}" class="btn btn-primary">View</a>
                        <a href="{%url 'removeemployee' employee.id%}" class="btn btn-danger">Delete</a>
                        <a href="{%url 'changeemployee' employee.id%}" class="btn btn-warning">Update</a>

                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-4"></div>
    </div>

</div>

</body>
</html>








